.projects
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects .header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.projects__contents
{
    display: flex;
    height: 100%;
}
.project-items
{
    padding: 2rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    height: 100%;
    width: 80%;
    overflow: auto;
}

.project-view__description
{
    width: 100%;
    height: 300px;
}

.project-view__description:nth-child(even)
{
    text-align: justify;
    line-height: 1.5;
    padding-right: 2rem;
}
.project-view__description:nth-child(odd)
{
    text-align: justify;
    line-height: 1.5;
    padding-left: 2rem;
}

.project-view__image
{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.project-view__image img 
{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    filter: blur(3px);
}
.project-view__image h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}
.project-view__image img:hover
{
    filter: none;
}
.project-view__image h1:hover 
{
    display: none;
}
.project-view__image:nth-child(odd)
{
    text-align: right;
    padding-right: 2rem;
}
.project-view__image:nth-child(even)
{
    text-align: left;
    padding-left: 2rem;
}

.project-view__line
{
    background-color: #ccc;
    position: relative;
    height: 100%;
}
.project-view__dot
{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #ccc;
}



